<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderFood"
        tools:targetApi="31">
        <activity
            android:name=".allActivity.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".allActivity.RevenueActivity"
            android:exported="false" />
        <activity
            android:name=".allActivity.HistoryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".allActivity.DetailFood"
            android:exported="false" />
        <activity
            android:name=".allActivity.UpdateFoodActivity"
            android:exported="false" />
        <activity
            android:name=".allActivity.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".allActivity.SpScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".allActivity.SIgnUpActivity"
            android:exported="false" />
        <activity
            android:name=".allActivity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".allActivity.MainActivity"
            android:exported="false" />
    </application>

</manifest>